.logo{
    font-family: 'Pacifico', cursive;
}
.text-light{
    font-size: 32px;
}

.nav-link{
    font-family: 'Barlow Condensed', sans-serif;
}

.nav{

    background: url(../../../mount.svg) !important;
    background-size: auto 1000px;
    background-repeat:no-repeat;
}

label{
    font-size: 20px;
    color: #2985c5!important;
    font-family: 'Antonio', sans-serif;
}