.plan_event {
    width: 60%;
    height: calc(90vh - 25px);
    border-radius: 4px;
    border: 1.5px solid black;
    background-color: #ffffff;
    position: absolute;
    top: 13.2%;
    left: 17%;
    font-size: 1.5em;
    padding: 30px 50px;
}
.plan_event input {
    width: 100%;
    height: 28px;
    display: block;
    margin-bottom: 20px;
}
.plan_event textarea {
    display: block;
    margin-bottom: 20px;
    height: 200px;
    width: 100%;
    resize: none;
}
 .plan_event button {
    width: 100%;
    height: 35px;
    border-radius: 3px;
    color: #ffffff;
    background-color: #3C403D;
    font-weight: 900;
    font-family: cursive;
}
.plan_event button:hover {
    background-color: #616864;
}
