body {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    background: url(pattern.svg);
    background-size: cover;
    background-repeat:no-repeat;
}

a:link {
  text-decoration: none !important;
}

a:visited {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

a:active {
  text-decoration: none !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff; 
}
 
::-webkit-scrollbar-thumb {
  background: rgb(201, 44, 44); 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(218, 17, 17); 
}