body {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

a:link {
  text-decoration: none !important;
}

a:visited {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

a:active {
  text-decoration: none !important;
}