.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 80px;
  left: 0;
  background-color: wheat;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 60px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

#logout{
padding-top: 140px;
padding-left: 30px;
}