/* filter to toggle pages*/
.filter {
    position: absolute;
    top: 96px;
    left: 55%;
}
.filter select {
    border-radius: 3px;
    border: none;
    background: #3C403D;
    color: #DADED4;
    font-family: cursive;
    padding: 10px 20px;
    font-size: 18px;
    margin-left: 30%;
    text-align: center;
}
.filter select:hover {
    background-color: #616864;
}

/*events styling*/
.xxx {
    grid-column: 1/-1;
    width: 59.5%;
    max-width: 1000px;
    background-color: #c5dbdf;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    border: 2px solid black;
}

/*Detail's styling*/
.event_pictures {
    width: 59.5%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.event_pictures img{
    width: 100%;
    border-radius: 3px;
}
.registration_form {
    width: 59.5%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 18px 30px;
    background: white;
    border-radius: 3.5px;
    border: 2px solid black;
}
.registration_form form {
    font-size: 20px;
}
.registration_form form input {
    display: block;
    width: 100%;
    height: 28px;
    margin-bottom: 5px;
    border-radius: 3px;
    padding-left: 10px;
    border: 1px solid black;
}
.button-form {
    font-family: cursive;
    padding: 5px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px solid black;
    background: #3C403D;
    color: #DADED4;
}
.button-form:hover {
    background: #616864;
}
.comment_head {
    width: 59.5%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.comment_head form textarea {
    font-size: 15px;
    width: 100%;
    resize: none;
    border-radius: 3px;
    border: 1px solid black;
}
.comment_head h2 {
    font-size: 40px;
    margin-bottom: 5px;
}
.comment_button {
    position: absolute;
    font-size: 20px;
    font-family: cursive;
    padding: 5px 10px;
    background: #3C403D;
    color: #DADED4;
    border-radius: 5px;
    top: 10px;
    right: 0px;
}